/.gradle/
/.build/**
/.idea/**
/bin/**
/out/**
*.classpath
build/


bin/.gitignore
testOutput/.gitignore
.project
.settings/org.eclipse.buildship.core.prefs

# VSCode

.vscode
#Eclipse
bin/
.settings/